.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.title-hero p {
  color: white;
  margin: 0;
  font-weight: bold;
}

.title-hero p:first-child {
  font-size: 64px;
}

.title-hero p:nth-child(2) {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  background-image: linear-gradient(90deg, #35bfc9, #38f9d7);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 10px rgba(56, 249, 215, 0.2);
}

.title-hero p:last-child {
  font-size: 32px;
}

.figure {
  width: 500px;
  height: 100vh;
}

.about-bouncer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-about {
  color: white;
  font-size: 24px;
}

.bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
