---
import Geometry from "./Geometry";
import "/src/styles/components/hero.css";
---

<section>
  <div class="hero-container">
    <div class="title-hero">
      <p>Hey,</p>
      <p>I'm Alessio Pinto</p>
      <p>A game dev from Italy</p>
    </div>
    <div class="figure">
      <Geometry client:load />
    </div>
  </div>
  <div class="about-container">
    <p class="p-about bounce">About me</p>
  </div>
</section>
