---
import Geometry from "./Geometry";
import "/src/styles/components/hero.css";
---

<div class="hero-container" id="home">
  <div class="title-hero hero-animated">
    <p>Hey,</p>
    <p>I'm Alessio Pinto</p>
    <p>A game dev from Italy</p>
  </div>
  <div class="figure">
    <Geometry client:load />
  </div>
</div>
<div class="about-bouncer">
  <p class="p-about bounce">About me</p>
</div>
