---
import { Image } from "astro:assets";
import "/src/styles/components/about.css";
---

<div class="about-container">
  <div class="pfp-box">
    <div class="pfp-icon">
      <Image
        src="/icon.png"
        alt="icon"
        width="280"
        height="280"
        draggable="false"
      />
    </div>
    <div>
      <h1>Alessio Pinto</h1>
      <p>Front-end developer and game dev</p>
    </div>
  </div>
  <div style="display:flex; flex-direction: column;">
    <div class="info-box">
      <div class="about-text">
        <p>
          Hello! I'm a 23-year-old Italian programmer passionate about Web
          Development and Game Development. I studied Computer Science for five
          years in high school and pursued Computer Engineering for about two
          years at UniGe. Currently, I'm focused on Game Development and work as
          a QA Tester (Gold Tester) on the Utest platform.
        </p>
      </div>
    </div>
    <div class="cv-box">
      <Image src="/arrow.svg" alt="arrow" width="20" height="20" />
      <p>Download my Resume</p>
    </div>
  </div>
</div>
