---
import { Image } from "astro:assets";
import "/src/styles/components/about.css";
---

<div class="about-container">
  <div class="pfp-box">
    <div class="pfp-icon">
      <Image src="/icon.png" alt="icon" width="280" height="280" />
    </div>
    <div>
      <h1>Alessio Pinto</h1>
      <p>Front-end developer and game dev</p>
    </div>
  </div>
  <div style="display:flex; flex-direction: column;">
    <div class="info-box">
      <div class="info-box-menu">
        <div class="dots">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
      <div class="about-text">
        <p>Lorem ipsum dolor amet</p>
      </div>
    </div>
    <div class="cv-box">
      <Image src="/arrow.svg" alt="arrow" width="20" height="20" />
      <p>Download my Resume</p>
    </div>
  </div>
</div>
