---
import "/src/styles/components/header.css";
---

<div style="display: flex; justify-content: center;">
  <div class="header-container">
    <div class="logo-container">
      <p>AP</p>
    </div>
    <div style="display: flex; flex-direction: row;">
      <p>Home</p>
      <p>Skills</p>
      <p>Projects</p>
      <p>Contact me</p>
    </div>
  </div>
</div>
