---
import "/src/styles/components/footer.css";
---

<footer class="footer-container">
  <p class="footer-text">
    Designed & Built by <span class="footer-highlight"> Alessio Pinto </span>
    © {new Date().getFullYear()}
  </p>
  <div class="footer-links">
    <a
      href="https://github.com/Bonfino"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    >
    <a href="mailto:alessio.pinto02@gmail.com">Email</a>
    <a
      href="https://www.linkedin.com/in/alessio-pinto-595465334/"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >
  </div>
</footer>
