---
import "/src/styles/components/footer.css";
---

<footer class="footer-container">
  <p class="footer-text">
    Designed & Built by <span class="footer-highlight"> Alessio Pinto </span>
    © {new Date().getFullYear()}
  </p>
  <div class="footer-links">
    <a
      href="https://github.com/yourusername"
      target="_blank"
      rel="noopener noreferrer">GitHub</a
    >
    <a href="mailto:your@email.com">Email</a>
    <a
      href="https://www.linkedin.com/in/yourprofile"
      target="_blank"
      rel="noopener noreferrer">LinkedIn</a
    >
  </div>
</footer>
